<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.obeonetwork.dsl.smartdesigner.presentation.SmartdesignerModelWizardID"
            name="%_UI_SmartdesignerModelWizard_label"
            class="org.obeonetwork.dsl.smartdesigner.presentation.SmartdesignerModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/SmartdesignerModelFile.gif">
         <description>%_UI_SmartdesignerModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.obeonetwork.dsl.smartdesigner.presentation.SmartdesignerEditorID"
            name="%_UI_SmartdesignerEditor_label"
            icon="icons/full/obj16/SmartdesignerModelFile.gif"
            extensions="smartdesigner"
            class="org.obeonetwork.dsl.smartdesigner.presentation.SmartdesignerEditor"
            contributorClass="org.obeonetwork.dsl.smartdesigner.presentation.SmartdesignerActionBarContributor">
      </editor>
   </extension>

</plugin>
